[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
transformers = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
